.wrapper{
  position:absolute;
  margin-left:40%;
  /*I wanted to use margin left auto and margin right auto to center, but seemed like doesn't work,  Why doesn't that work?*/
}
#octopus {
  display: block;
  margin-top: 100px;
}

#hat {
  position: absolute;
  z-index: 2;
  left: -10%;
  top:40px
}

#glasses {
  position: absolute;
  z-index: 3;
  left: 20%;
  top: 51%;
}
